#lyrics{
    width: 100%;
    height: 75.5vh;
    color: white;
    text-align: center;
    overflow-Y: scroll;
    font-size: 13px;
    scroll-behavior: smooth;
    #lyrics-content{
        width: 90%;
        margin:auto;
        padding: 20px 0;
        transition: ease 0.1s all;
    }
    h2{
        opacity: 0.25;
    }
    .on-top{
        opacity: 1;
        font-size: 250%;
        transform: translateY(25%);
    }
    .on-top + h2{
        opacity: 0.5;
        font-size: 180%;
    }
}
@media only screen and (max-height:720px){
    #lyrics{
        height:71vh;
    }
}
@media only screen and (max-height:660px){
    #lyrics{
        height:71vh;
    }
}
@media only screen and (max-height:638px){
    #lyrics{
        height:68vh;
    }
}
@media only screen and (max-height:575px){
    #lyrics{
        height:66vh;
    }
}
@media only screen and (max-height:558px){
    #lyrics{
        height:64vh;
    }
}
@media only screen and (max-height:511px){
    #lyrics{
        height:60vh;
    }
}
@media only screen and (max-height:460px){
    #lyrics{
        height:56vh;
    }
}
@media only screen and (max-height:418px){
    #lyrics{
        height:52vh;
    }
}
@media only screen and (max-height:384px){
    #lyrics{
        height:48vh;
    }
}
@media only screen and (max-height:355px){
    #lyrics{
        height:44vh;
    }
}
@media only screen and (max-height:329px){
    #lyrics{
        height:40vh;
    }
}
@media only screen and (max-height:308px){
    #lyrics{
        height:32vh;
    }
}