html,body,#root{
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
    overflow: auto;
    height:100vh;
    width:100vw;
    user-select:none;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}
#root{background:inherit;}
.album-art-background{
    position: fixed;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    height:100vh;
    width:auto;
    display:block;
    opacity:0.15;
    pointer-events: none;
}