#playlist{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    z-index: 4;
    color: white;
    background-color: #7f5a8399;
    background-image: linear-gradient(315deg, #7f5a8399 0%, #0d324d99 74%);
    transition: cubic-bezier(.53,1.13,.41,1) 1s all;
    transform:translateX(100%);
    &.show{transform:none !important;}
    #label{
        width:100%;
        text-align: center;
        font-size:70%;
        > h1{ line-height:normal;margin: 3vh 0 0;}
        #search{
            background: transparent;
            color: white;
            border:1px solid #ffffff99;
            padding: 8px;
            margin: 2.5vh 0;
            border-radius: 50%;
            font-family: FontAwesome,"Montserrat",sans-serif;
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s all;
            width: 12px;
            background: white;
            &:focus{
                outline:none;
                border-radius:8px;
                border:1px solid #ffffff;
                width:25vw;
                padding: 8px 13px;
                background: inherit;
            }
        }
    }
    #show-box{
      position: absolute;
      top: 50%;
      left: 50%;
      height: 60vh;
      width:70%;
      padding:0 4vh;
      transform: translate(-50%,-50%);
      overflow: auto;
      #show-list{
        position: relative;
        transition: ease-in-out 0.5s all;
        height: 100%;
        .song-list{
            width:100%;
            display:block;
            .song-list-row{
                width:100%;
                div.album-art{
                    width:35px;
                    height:35px;
                    max-width:35px;
                    max-height:35px;
                    overflow:hidden;
                    position: relative;
                    margin:8px;
                    border-radius:8px;
                    img{
                        width:100%;
                        position:absolute;
                        top:50%;
                        left:50%;
                        transform:translate(-50%,-50%);
                        height:auto;
                    }
                }
                .song-details{
                    width:80%;
                    h2,h4{
                        margin:0;
                        width:100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    h2{font-size:90%;line-height:120%;}
                    h4{font-size:60%;line-height:160%;font-weight:normal;}
                }
                .options{
                    border-radius:50%;
                    border:2px solid white;
                    color:white;
                    padding:6px 8px;
                    i{
                        display:block;
                        &.fa-play{transform:translateX(10%);}
                    }
                    cursor:pointer;
                }
            }
        }
      }
    }
}
@media only screen and (max-height: 500px){
    #playlist > #label{font-size:60%;}
    #search{font-size:10px;padding:4px !important;}
    #search:focus{width:40vw;}
    #playlist > #label > h1{line-height:normal;margin:3vh 0 0 !important;}
}
@media only screen and (max-height: 600px){
    #playlist{
        #show-box{
            top:48%;
            height:60vh;
        }
    }
}
@media only screen and (max-height: 500px){
    #playlist{
        #show-box{
            top:45%;
            height:53vh;
        }
    }
}
@media only screen and (max-height: 400px){
    #playlist{
        #show-box{
            top:45%;
            height:42vh;
        }
    }
}
@media only screen and (max-height: 350px){
    #playlist{
        #show-box{
            top:45%;
            height:30vh;
        }
    }
}
@media only screen and (max-height: 300px){
    #playlist{
        #show-box{
            top:42%;
            height:20vh;
        }
    }
}
@media only screen and (max-height: 250px){
    #playlist{
        #show-box{
            top:40%;
            height:15vh;
        }
    }
}
@media only screen and (max-width:600px){
    #search:focus{width:50vw !important;}
    #playlist{
        .song-details{
            width:60% !important;
        }
    }
}
  