header{
    position: relative;
    top:0;
    width:95%;
    padding:12px 1.5% 10px;
    color:white;
    #top-bar{
        position:relative;
        width: 100%;
        margin:auto;
        z-index: 50;
        button{
            margin: 0;
            background: inherit;
            color:inherit;
            border: none;
            padding: 5px 10px;
            margin-right:16px;
            font-size:18px;
            cursor:pointer;
        }
        #about-song{
            width: 50%;
            margin:0;
            font-size:70%;
            line-height:180%;
            &.hide{
                visibility: hidden;
            }
            *{
                margin:0;
                width:100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}